# Multiple Linear Regression


##### Giovanni Paz-Silva

#### Fuel Consumption Analysis Review

#### Objectives

*   Use Scikit-learn to Implement multiple linear regression
*   Create, train, and test a multiple linear regression model using Fuel Consumption Dataset
*   Explain every step with clarity and educationally

#### Import needed packages

##### For this lab, we will need to have the following packages

* NumPy
* Matplotlib
* Pandas
* Scikit-learn

In [2]:
import pandas as pd
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install scikit-learn

print("Libraries Installed")

Requirement already satisfied: numpy in c:\users\giopa\miniconda3\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\giopa\miniconda3\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\giopa\miniconda3\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\giopa\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\giopa\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\giopa\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\giopa\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in c:\users\giopa\miniconda3\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\giopa\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\giopa\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\giopa\miniconda3\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\giopa\miniconda3\lib\site-packages (from scikit-learn) (2.3.0)
Requirement already satisfied: scipy>=1.8.0 in c:\users\giopa\miniconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\giopa\miniconda3\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\giopa\miniconda3\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.
Libraries Installed

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing, linear_model
from sklearn.model_selection import train_test_split

print("Numpy Version: ", np.__version__)
print("Pandas Version: ", pd.__version__)

Numpy Version:  2.3.0
Pandas Version:  2.3.0

### Data Loaded

##### The url of the dataset used in this lab is provided by the IBM Data Science Course

In [4]:
fuel_consumption_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"

In [15]:
# Exploration od the Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [13]:
df = pd.read_csv(fuel_consumption_url)
df.sample(10)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
249,2014,CHEVROLET,SONIC,COMPACT,1.8,4,AS6,X,9.6,6.6,8.3,34,191
12,2014,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
811,2014,MINI,JOHN COOPER WORKS COUPE,TWO-SEATER,1.6,4,M6,Z,9.1,6.7,8.0,35,184
982,2014,TOYOTA,HIGHLANDER,SUV - SMALL,2.7,4,AS6,X,11.7,8.6,10.3,27,237
986,2014,TOYOTA,HIGHLANDER HYBRID AWD LE,SUV - STANDARD,3.5,6,AV6,X,7.9,8.6,8.2,34,189
1057,2014,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,8.3,10.1,28,232
105,2014,BMW,640i xDRIVE GRAN COUPE,COMPACT,3.0,6,A8,Z,11.9,8.0,10.1,28,232
666,2014,LEXUS,IS 350 AWD,COMPACT,3.5,6,AS6,Z,12.5,9.1,11.0,26,253
352,2014,FORD,EDGE,SUV - SMALL,2.0,4,A6,X,11.3,7.9,9.8,29,225
280,2014,CHRYSLER,200 SEDAN,MID-SIZE,2.4,4,A6,X,12.0,7.6,10.0,28,230

In [14]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

##### The first section of the model is created to review the IBM DS course lab work of predicting the CO2 emissions by excluding some features. In the second section I will include the remaining features to improve the accuracy of the model.

### Data Cleanning
##### Since All the models are from the same year, and the features "MAKE","MODEL", "VEHICLECLASS", "TRANSMISSION", and "FUELTYPE" are not numerical values, the first part will consist on s model analysis just with the features with numerical values.